@model TiendaVirtual.Web.Areas.Administracion.Models.LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<h1>
    @ViewBag.Title
</h1>
<p>
    Escriba sus datos para acceder a la parte adminstrativa
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>LoginViewModel</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Ingresar" />
        </p>
    </fieldset>
}
